# pip3 install dgl -f https://data.dgl.ai/wheels/repo.html
# pip3 install torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.10.0+cpu.html

git+https://gitee.com/haowen-xu/ml-essentials
git+https://gitee.com/haowen-xu/tensorkit
git+https://gitee.com/mirrors/ZhuSuan.git
click
jinja2
networkx
numpy
pandas
PyYAML
python-snappy
scikit-learn
seaborn
semver
natsort
imageio
fs
lazy_object_proxy
kafka-python
tqdm
loguru
tensorboard==1.15

-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.0+cu113

-f https://data.dgl.ai/wheels/repo.html
dgl-cu113

-f https://data.pyg.org/whl/torch-1.10.0+cu113.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
